<div class="col-lg-8 col-sm-12 m-auto mt-5">

  <div>
    <a href="/todo/create">
      <button class="btn btn-primary mb-3 float-right">Add Todo</button>
    </a>
  </div>

  <ul class="list-group">
    <% todos.forEach(todo => { %>
      <li class="list-group-item d-flex justify-content-between">
        <span class="<% if (todo.isDone) { %>
          text-decoration-line-through
        <% } %>">
          <%= todo.name %> <br>
          (<%= todo.formatedDate() %>)
        </span>

        <div>
          <a href="/todo/check/<%= todo.id %>">
            <button class="btn btn-success">Check</button>
          </a>
          <a href="/todo/uncheck/<%= todo.id %>">
            <button class="btn btn-warning">Uncheck</button>
          </a>
          <a href="/todo/delete/<%= todo.id %>">
            <button class="btn btn-danger">Delete</button>
          </a>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
